<footer>
  <div class="footer-load">
    <h3 class="footer-contents">&copy;PianoGroups</h3>
    <a href="/about" class="footer-contents">About</a>
    <a href="/contact" class="footer-contents">Contact</a>
  </div>
</footer>
