<nav>
  <a href="/connection">Connections</a>
  <% if (locals.userDetails){%>
    <a href="/savedConnections">Welcome <%=userDetails['firstName']%></a>
    <a href="/connection/createdConnections">Created Connections</a>
  <%}%>
</nav>
