header, nav, footer, main, body {
  display: block;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
header {
  height: 13%;
}
.banner {
  background-image: url(../images/music1.jpg);
  background-position: initial;
  height: 100%;
  display: block;
  background-size: cover;
}
.left {
  width: 60%;
  display: block;
  float: left;
  height: 100%;
}

.left a{
  text-decoration: none;
}
.left a h2 {
  color: burlywood;
  padding: 10px 0px 0px 80px;
  font-size: 29px;
}

.right{
  display: block;
  float: right;
  height: 100%;
  width: 40%;
  text-align: center;
}

.right a {
  color: crimson;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 40px 0px 0px 0px;
  margin-right: 5px;
}
header img {
  height: 72%;
  width: 36%;
  margin-top: 1.5%;
  margin-left: 6%;
  border: 2px solid coral;
  border-radius: 15px;
}
nav {
  background-color: black;
  height: 4%;
  display: table;
  width: 100%;
  text-align: left;
  text-indent: 1%;
}
nav a {
  color: crimson;
  margin-left: 10%;
  font-weight: bold;
  font-size: 22px;
  display: table-cell;
  vertical-align: middle;
  padding: 2px 0px 3px 155px;
}
main {
  background-image: url(../images/background1.jpg);
  background-position: inherit;
  background-size: cover;
}
.main-content {
  display: block;
  width: 70%;
  height: 98%;
  margin: 0 auto;
  background-color: burlywood;
  border-style: groove;
  border-radius: 25px;
  border-width: 5px;
  border-color: crimson;
}
.main-header {
  text-align: center;
  font-size: 35px;
  font-family: cursive;
  padding: 10px 0px 0px 0px;
}
main p {
  font-size: 2.5vh;
  margin: 20px 20px 10px 40px;
  color: darkred;
}
main .images {
  display: inline-flex;
  height: 44%;
}
main img {
  width: 30%;
  margin-top: 1.5%;
  margin-left: 2%;
  border: 2px solid coral;
  border-radius: 5px;
}

main li {
  font-size: 30px;
  text-decoration: none;
  color: darkslategray;
  margin-left: 10%;
}
main a {
  font-size: 30px;
  text-decoration: none;
  color: darkslategray;
}

main .form1 {
  margin-left: 20%;
  margin-top: 10%;
  font-size: 30px;
  font-family: cursive;
}

main form input {
  margin-left: 5%;
  width: 50%;
  font-size: 1rem;
}

main table, td, th {
  border-collapse: collapse;
  margin: 10% 0px 0px 20%;
  border: 2px solid black;
}
main table {
  height: 30%;
  width: 85%;
  margin-left: 6%;
}
main table .tab-header {
  font-size: 25px;
}
main table .tab-content {
  font-size: 20px;
  color: darkred;
}

/* Styling for connection.ejs */
.connection-header {
  text-align: center;
  font-size: 30px;
  font-family: serif;
  color: darkred;
  margin-top: 20px;
  text-decoration: underline;
}
.connection-details1 {
  display: flex;
  margin: 10px 0px 0px 130px;
  max-height: 30%;
}
.connection-details1 img {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-left: 100px;
}
.connection-details1 .rest {
  margin-left: 50px;
  font-size: 25px;
  font-style: oblique;
  line-height: 13px;
  /* padding-top: 10%; */
}
.connection-details1 .rest .elem1 {
  padding-top: 10%;
}
.connection-details2{
  display: flex;
  margin-left: 190px;
  font-size: 20px;
  max-height: 30%;
}
.connection-details2 p {
  margin: 31px 150px 0px 10px;
  font-size: 24px;
}
.going{
  font-size: 30px;
  line-height: 1px;
  margin: 5% 0% 0% 34%;
  max-height: 30%;
}
.buttons {
  display: flex;
  margin-left: 40%;
}
.buttons .form {
  padding-right: 10px;
}
.buttons .Yes {
  background-color: #4CAF50;
  border:0.1em solid black;
  color: white;
  border-radius: 5px;
  padding: 6px 15px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.buttons .No {
  background-color: red;
  color: white;
  border:0.1em solid black;
  border-radius: 5px;
  padding: 6px 15px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.buttons .Maybe {
  background-color: #4eb5f1;
  border:0.1em solid black;
  color: white;
  padding: 6px 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}


.button1 {
  font-size: 1rem;
  background-color: black;
  height: 35px;
  width: 170px;
  color: red;
  border-radius: 20px;
}
footer {
  background-color: #282828;
  width: 100%;
  height: 7%;
  color: crimson;
  position: absolute;
  display: inline;
  text-align: center;
  /* bottom: 0; */
}
.footer-contents {
  display: inline;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  color: crimson;
}

.footer-load {
  margin-top: 15px;
  margin-left: 10px;
}
